<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="./img/favicon.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.css" type="text/css" />

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.css ">
   -->

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel=" stylesheet " href="/font-awesome-4.7.0/css/font-awesome.css " type="text/css " />
  <link rel="stylesheet " href="/font-awesome-4.7.0/css/font-awesome.min.css " type="text/css " />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.print.css" media="print">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.css">
  <link rel="stylesheet " href="/css/main.css ">
  <link rel="stylesheet " href="/css/nav-bar.css ">
  <!-- <link rel="stylesheet " href="/css/bg-video.css "> -->
  <link rel="stylesheet " href="/css/cal.css ">
  <title>Tekkojuku-Calendar</title>
</head>

<body class="calendar-body">
  <div class="main-content">
    <%- include navbar.ejs %>

      <!-- <div id="cal">
        <div id="sub-cal">

          <div class="row">
            <h2>Class Calendar</h2>
            <div class="btn btn-primary  add-event-btn ">Add Event</div>
          </div>
          <br><br>
          <% for(var i=0; i<calendarData.length; i++) {%>
            <% var calArray=allClasses[i].split("|") %>
              <a href="#" data-userid="<%= calendarData[i]._id%>" data-evdt="<%= calendarData[i].dateOccurrence %>" id="<%= calendarData[i]._id%>" class="event clearfix">

                <%- calArray[0] %>

                  <%- calArray[1] %>

                    <div class="inst-info">
                      <%= JSON.stringify(calendarData[i]._instructor) %>
                    </div>
                    <div class="event-type-title"><span class="event_type"><%= calendarData[i].content %></span>&nbsp;-&nbsp;<span class="event_title"><%= JSON.stringify(calendarData[i]._instructor).replace(/(.*username\":\")(\w.*)(",\"em.*)/g,"$2")%></span></div>
              </a>

              <% } %>
        </div>
      </div> -->

      <div class="calendar">

        <div class="sub-calendar">
          <% if (classDataByID.render) {%>
            <div class="full-cal-event-listener" style="display: none">
              <a href="#" data-userid="" data-evdt="" id="" class="event ">
                <div class="event_icon">
                  <div class="event_month Aikido"></div>
                  <div class="event_day"></div>
                </div>
                <div class="inst-info"></div>
                <div class="event-type-title"><span class="event_type"></span>&nbsp;-&nbsp;<span class="event_title"></span></div>
              </a>
            </div>
            <%} %>
              <div class="btn btn-primary  add-event-btn " style="display: none">Add Event</div>
        </div>
      </div>
  </div>
  <%- include footer.ejs %>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js" charset="utf-8"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.js" charset="utf-8"></script>
    <script src="/js/debug.js"></script>
    <script src="/js/global.js "></script>
    <script src="/js/app.js "></script>
    <!-- <script src="/js/cal.js "></script> -->

    <script type="text/javascript">
      $(document).ready(function() {
        // console.log(<%= fullCalendarData %>);
        // page is now ready, initialize the calendar...
        let getClassByID = (classID) => {
          $.ajax({
              type: "get",
              url: `/calendar/${classID}`,
              headers: {
                "Accept": "application/json",
              },
            })
            .done((data) => {
              qonsole.debug('msg: ClassID data', data);

            });
        }


        $('.sub-calendar').fullCalendar({
          customButtons: {
            addEventBtn: {
              text: 'Add Event',
              click: function() {
                // alert('clicked the custom button!');
                $('.add-event-btn').click();
              }
            }
          },
          header: {
            left: 'prev,next today addEventBtn',
            center: 'title',
            right: 'month, agendaWeek, listWeek'
          },
          defaultTimedEventDuration: '01:00:00',
          defaultDate: '2017-11-12',
          navLinks: true, // can click day/week names to navigate views
          editable: false,
          timezone: 'local',
          events: [<%- fullCalendarData %>],
          eventLimit: true, // for all non-agenda views

          views: {
            month: {
              eventLimit: 4 // adjust to 6 only for agendaWeek/agendaDay
            }
          },
          eventRender: function(event, element) {
            // element.qtip({
            //   content: event.description
            // });
            // console.log('event test:', );
            $(element).click(e => {
              console.log(e);
              let currID = e.currentTarget.classList.value.match(/full-cal-event-[a-zA-Z0-9]*/);
              currID = currID[0].replace('full-cal-event-', '');
              console.log('currID:', currID);
              getClassByID(currID);


              // $('.full-cal-event-listener').click();
              // BootstrapDialog.show({
              //   title: `trd`,
              //   message: ``,
              //   type: BootstrapDialog.TYPE_PRIMARY,
              //   cssClass: 'bs-dialog',
              //   buttons: [{
              //     label: 'Close',
              //     action: function(dialogRef) {
              //       dialogRef.close();
              //     }
              //   }]
              // });

            })
          },
          eventAfterRender: function(event, element, view) {

            if (event.title === "Aikido") {
              //event.color = "#"; //
              element.css({
                'background-color': '#e74c3c',
                'border-color': '#e74c3c'
              });
            } else if (event.title === "Iaido") {
              //event.color = "#"; //
              element.css({
                'background-color': '#27ae60',
                'border-color': '#27ae60'
              });
            } else if (event.title === "Weapons") {
              //event.color = "#"; //
              element.css({
                'background-color': '#3498db',
                'border-color': '#3498db'
              });
            }
          },
        })

      });
    </script>
</body>

</html>
